# pihole
pihole/*/etc/pihole/*
pihole/*/etc/dnsmasq.d/*

# env
.env.*
!.env.example

# generated swarm config files (may contain secrets)
docker-swarm-stack.*.yml

# dns
dns/*
!dns/example/

# Allow all .gitkeep files
!**/.gitkeep