# pihole
etc-dnsmasq.d
etc-pihole/
pihole/*/

# env
.env.*
!.env.example

# plex
plex/config/
plex/media

# jellyfin
jellyfin/config/
jellyfin/cache
jellyfin/tmp

# kavita
kavita/*

# dns
dns/*
!dns/example/

# Allow all .gitkeep files
!**/.gitkeep