[Unit]
Description=Pi-hole
After=docker.service
Requires=docker.service

[Service]
ExecStart=docker compose up
WorkingDirectory=/home/pi/Projects/home.services
ExecStop=docker compose down
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
